.div-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    text-align: center;
    margin: 30px auto;
    padding: 15px;
    border: 1px solid var(--lemon-layer-1);
}
.title-contact{
    margin: 12px;
}
.content-contact{
    margin: 7px;
}
.arrow-contact{
    animation-name: pulse;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.div-gmail{
    margin: auto;
    text-align: center;
    width: 30%;
}
.button-gmail{
    width: 60%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 8px;
    border: 1px solid var(--lemon-layer-1);
}
.img-gmail{
    width: 50px;
}
.div-footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.hover{
    background: var(--lemon-layer-6);
    transition: background .5s ease;
}
.not-hover{
    background: var(--lemon-layer-11);
    transition: background .8s ease;
}
@keyframes pulse { 
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.4;
    }
    75%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}
@media (max-width: 1200px){
    .div-gmail{
        width: 95%;
    }
}