.list-social-networks{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 4px;
  }
  .list-social-networks li{
    padding: 5px;
    border-radius: 9999px;
    transform: translateY(0px);
    transition: transform .6s ease;
  }
  .list-social-networks li:hover{
    transform: translateY(-4px);
    transition: transform .4s ease;
  }