.div-skills{
    padding-top: 3rem;
    text-align: center;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.title-skills{
    margin-bottom: 12px;
}
.div-skill{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    width: 45%;
    margin: 20px auto;
    padding: 10px;
    transition: transform .5s, background .5s;
    border-radius: 5px;
    box-shadow: 0 10px 11px rgb(0, 0, 0,0.30);
    background: var(--lemon-layer-6);
}
.div-skill:hover{
    transform: scale(1.05);
    background: var(--lemon-layer-3);
    transition: transform .4s, background .4s;
}
.title-skill{
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
}
.title-skill h4{
    transform: rotate(-90deg);
}
.content-skill{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.p-content {
    height: 140px;
    overflow: scroll;
    padding: 7px;
    text-align: start;
}
.tecnologies-list__skill{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}
@media (max-width: 1000px){
    .div-skill{
        width: 80%;
        display: block;
    }
    .title-skill h4{
        transform: rotate(0);
        margin: 8px;
        font-size: larger;
    }
    .title-skill hr{
        display: none;
    }
    .tecnologies-list__skill{
        flex-wrap: wrap;
        justify-content: center;
    }
    .p-content{
        height: 240px;
    }
}