.tecnologie{
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
    color: var(--lemon-layer-2);
    width: fit-content;
    transition: transform .6s;
    cursor: default;
}
.tecnologie:hover{
    transform: scale(1.05);
    transition: transform .5s;
}