h1, h2, h3, h4, p{
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}
h1{
  font-size: xx-large;
}
.separation{
  padding-top: 1rem;
  margin-top: 2.5rem;
}
.section-info{
  width: 65%;
  background: var(--lemon-layer-4);
  border: 3px solid var(--lemon-layer-5);
  margin: 15px auto;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 10px 11px rgb(0, 0, 0,0.30);
  transition: border .6s ease
}
.div-name-picture img{
  border-radius: 29px;
  margin: 10px;
  width: 80px;
}
.div-personal-info{
  width: 80%;
  padding: 10px;
  margin: auto;
  text-align: center;
}
.div-personal-info p{
  text-align: start;
  padding: 10px;
}
.section-projects{
  text-align: center;
  margin: 40px;
  border-radius: 5px;
}
.section-skills{
  text-align: center;
  padding: 8px;
  width: 90%;
  margin: 20px auto;
  border-radius: 5px;
}
.section-contact{
  width: 80%;
  margin: auto;
}
@media (max-width: 1000px){
  body{
    height: fit-content;
  }
  .div-personal-info{
    width: 100%;
  }
  .section-info{
    width: 90%;
  }
  .div-name-picture{
    flex-direction: column;
  }
  .div-name-picture img{
    border-radius: 45px;
  }
  .section-projects{
    margin: 0px;
  }
  .section-experience{
    width: 90%;
    margin: auto;
  }
  .section-contact{
    width: 100%;
  }
}