h1, h2, h3, h4, p, body{
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}
.separation{
  padding-top: 1rem;
  margin-top: 2.5rem;
}
.section-info{
  width: 50%;
  background: var(--lemon-layer-4);
  border: 3px solid var(--lemon-layer-5);
  margin: 15px auto;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 10px 11px rgb(0, 0, 0,0.30);
  transition: border .6s ease
}
.div-name-picture{
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-name-picture img{
  border-radius: 9999px;
  margin: 10px;
}
.div-personal-info{
  width: 80%;
  padding: 10px;
  margin: auto;
  text-align: center;
}
.div-personal-info p{
  padding: 10px;
}
.list-social-networks{
  display: flex;
  justify-content: center;
  list-style: none;
}
.list-social-networks li{
  padding: 5px;
  border-radius: 9999px;
  transition: background .7s ease;
}
.list-social-networks li:hover{
  background: var(--lemon-layer-8);
  transition: background 1s ease;
}
.section-projects{
  text-align: center;
  margin: 40px;
  border-radius: 5px;
}
.section-skills{
  text-align: center;
  padding: 8px;
  width: 80%;
  margin: 40px auto;
  border-radius: 5px;
}