.div-languages{
    margin: 15px;
    display: flex;
    justify-content: center;
    right: 20px;
    position: fixed;
    z-index: 500;
    direction: inherit;
}
.button-language{
    position: absolute;
    background: none;
    border: none;
}
.hidden{
    display: none;
}
.not-hidden{
    display: block;
}
@media (max-width: 1200px){
    .div-languages{
        top: 0px;
    }
}