.separation{
    padding-top: 1rem;
    margin-top: 2.5rem;
}
.div-projects{
    text-align: center;
}
.title-projects{
    margin: 12px;
}
.project{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    perspective: 1000px;
}
.project:hover .info-project{
    transform: rotateY(180deg);
}
.info-project{
    box-shadow: 0 10px 11px rgb(0, 0, 0,0.30);
    background: var(--lemon-layer-5);
    transform-style: preserve-3d;
    transition: transform .8s;
}
.info-project div{
    padding: 5px;
    margin: 10px;
}
.info-project--image img{
    width: 100%;
}
.info-project--description{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-project--description div{
    width: 60%;
    padding: 10px;
    border-radius: 10px;
}
.front, .back{
    backface-visibility: hidden;
}
.back{
    transform: rotateY(180deg);
}
.tecnologies-list__project{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
@media (max-width: 1000px){
    .front, .back{
        backface-visibility:visible;
    }
    .back{
        transform: rotateY(0deg);
        position: relative;
    }
    .project{
        width: 95%;
    }
    .project:hover .info-project{
        transform: rotateY(0deg);
    }
    .info-project{
        margin: 4px;
        padding: 5px;
    }
    .info-project div{
        margin: 0;
        padding: 0;
    }
    .info-project--description{
        flex-direction: column;
    }
    .info-project--description div{
        width: 80%;
        padding: 10px;
    }
    .description p{
        overflow-y: scroll;
        height: 200px;
        padding: 8px;
    }
    .tecnologies-list__project{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 5px;
    }
}